#card-dialog-v2 {

  .title {
    padding: 5px 10px 0px 20px;
    font-weight: 100;
    color: white;
    font-size: 18px;
  }

  .blue {
    background-color: #1A78C2;
  }

  .red {
    background-color: #f5564a;
  }

  .content-data {
    padding: 20px 20px 0px 20px;
    max-width: 100%;
    word-wrap: break-word;

    .content-title {
      color: gray
    }

    .center {
      text-align: center;
    }

  }

  .btnHolder {
    padding: 0px 20px 20px 20px;
    text-align: right;

    .okBtn {
      margin-right: 20px;
    }
  }

  hr {
    margin-top: 20px;
    border-color: lightgray !important;
    color: lightgray !important;
    background-color: lightgray !important;
    height: 1px;
    border: none;
  }

  .top-right {
    position: relative;
    display: inline-block;
    margin-top: -5px;

    button {
      box-shadow: none !important;
      background: transparent !important;
    }
  }

  .close {
    color: white;
  }
}
