<div id="login-component" class="page-layout">
    <mat-card>
        <span class="center auth-title">Sign in</span>
        <form class="login-form" name="loginForm" [formGroup]="loginForm" fxFlex fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="loginForm.get('email')?.hasError('invalidEmail') && loginForm.get('email')?.touched"
                class="invalid-mail">
                Please enter a valid email address.
            </mat-error>
            <mat-form-field appearance="outline" class="p-bottom p-top">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <mat-error class="invalid-password" *ngIf="loginForm.get('password')?.hasError('minlength')">
                Password must be at least 6 characters long.
            </mat-error>
            <div>
                Remember me <mat-checkbox (change)="rememberMeEvent($event)"></mat-checkbox>
            </div>
            <div class="register-info">
                Don't have an account?
                <span class="anchor" (click)="register()">Register now</span>
            </div>
            <button class="sign-in" mat-raised-button color="primary" aria-label="LOGIN" [disabled]="loginForm.invalid"
                (click)="loginUser(loginForm)">
                Sign in
            </button>
            <ngx-spinner bdOpacity=0 bdColor="rgba(13,22,37,0)" size="medium" color="#039BE5" type="ball-clip-rotate"
                [fullScreen]="false">
            </ngx-spinner>
        </form>
    </mat-card>
</div>