#login-component {
  @import 'src/app/shared/scss/helpers';

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .mat-mdc-card {
    background-color: white;
    max-width: 100%;
    min-width: 30%;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .sign-in {
    margin: 15px 0 20px;
  }

  .invalid-mail {
    font-size: 10px;
    color: red;
    position: absolute;
    top: 98px;
  }

  .invalid-password {
    font-size: 10px;
    color: red;
    position: absolute;
    top: 173px;
  }

  .register-info {
    font-size: 12px;
    text-align: center;
  }

  .remember-me {
    font-size: 12px;
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif !important;
    text-align: center;
  }

  ::ng-deep {
    .mat-mdc-checkbox-touch-target {
      width: 20px;
      height: 20px;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

}
