<div id="login-component" class="page-layout">
    <mat-card>
        <div>
            <h2 class="center">Sign in </h2>
            <form class="login-form" name="loginForm" [formGroup]="loginForm" fxFlex fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <span *ngIf="loginForm.get('email')?.hasError('invalidEmail')" class="invalid-mail">
                    Please enter a valid email address.
                </span>
                <mat-form-field appearance="outline" class="p-bottom p-top">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" required>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <button class="sign-in" mat-raised-button color="accent" aria-label="LOGIN"
                    (click)="loginUser(loginForm)">
                    Sign in
                </button>
            </form>
        </div>
    </mat-card>
</div>