#register-component {
  @import 'src/app/shared/scss/helpers';

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .mat-mdc-card {
    background-color: white;
    max-width: 100%;
    min-width: 30%;
  }

  .register-form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }

  .sign-up {
    margin: 15px 0 20px;
  }

  .invalid-mail {
    font-size: 10px;
    color: red;
    position: absolute;
    top: 186px;
  }

  .invalid-password {
    font-size: 10px;
    color: red;
    position: absolute;
    top: 260px;
  }

  .register-info {
    font-size: 12px;
    text-align: center;
  }

  .back-arrow-holder {
    position: absolute;
    top: 19px;
    left: 20px;

    .arrow-back {
      font-size: 18px;
      cursor: pointer;
    }

  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

}
