#job-offer {
  @import 'src/app/shared/scss/helpers',
  'src/app/shared/scss/tables';

  height: 100vh;

  >.table-container {
    max-height: calc(100vh - 120px);
    padding: 20px;
  }

  .mat-table {
    table-layout: fixed;
  }

  .mat-column-index {
    width: 4%;
  }

  .mat-column-jobId {
    width: auto;
  }

  .mat-column-jobDescription {
    width: auto;
  }

  .mat-column-longJobDescription {
    width: auto;
  }

  .mat-column-options {
    width: 4%;
  }

  button {
    border: none;
    background-color: inherit;
  }

  input {
    font-size: 13px;
  }

  .no-side-shadow {
    box-shadow:
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 0 0 0 rgba(0, 0, 0, 0.12),
      0 0 0 0 rgba(0, 0, 0, 0.2),
      0 0 0 0 rgba(0, 0, 0, 0.15);
  }

  ::ng-deep .mat-table {
    display: block;
    margin-top: 45px;
    overflow: auto;
  }

  .footer {
    position: absolute;
    bottom: 7px;
    right: 40px;

    .add-button {
      background-color: #3F51B5 !important;
      width: 56px !important;
      height: 56px !important;
      border-radius: 50% !important;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.20) !important;
      transition: background-color 0.3s ease !important;
    }

    .add-icon {
      color: white;
      padding-top: 4px;
    }

  }
}

::ng-deep .cdk-global-scrollblock {
  position: absolute !important;
  overflow-y: hidden !important;
}
