.page-layout {
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

.mat-icon {
  color: gray;
}

::ng-deep .mdc-floating-label {
  color: rgba(0, 0, 0, 0.19);
}


input {
  color: black;
}
