.page-layout {
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

.mat-icon {
  color: gray;
}

::ng-deep .mdc-floating-label {
  color: rgba(0, 0, 0, 0.19);
}

input {
  color: black;
}

.p-bottom {
  padding-bottom: 20px;
}

.p-top {
  padding-top: 20px;
}

.anchor {
  color: #03A9F4;
}

.anchor:hover {
  text-decoration: underline;
  text-decoration-color: #03A9F4;
  cursor: pointer;
}

.auth-title {
  padding: 15px 10px 10px 10px;
  font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}
