td,
th {
  word-wrap: break-word;
}

table {
  width: 100%;
}

.sort-hover:hover .default-icon {
  display: inline-block;
}

.default-icon {
  display: none;
}

.big {
  font-size: 20px !important;
}

.data-not-found {
  position: absolute;
  top: 60%;
  left: 50%;
  color: lightgray;
  font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif !important;
  font-size: 17px;
  z-index: 1040;
}

::ng-deep {
  .mat-mdc-text-field-wrapper {
    background-color: white;
  }

  .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  .mat-mdc-form-field {
    height: 45px;
    margin: 0 !important;
    margin-top: 1px;
    font-size: 12px !important;
    width: 100%;
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif !important;
  }

  .mdc-text-field--focused .mdc-text-field__input {
    outline: none;
    box-shadow: none;
    border-color: initial;
  }

}

.mat-mdc-paginator {
  position: absolute;
  top: 65px;
  z-index: 9;
  right: 20px;
  font-size: 12px;
  font-family: "Muli", "Helvetica Neue", "Arial", sans-serif;
}

::ng-deep .mat-mdc-paginator-page-size-select {
  width: 65px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

::ng-deep .mat-select-value {
  color: #005999;
  font-weight: bold;
  font-size: 15px;
}

::ng-deep .mat-select-arrow {
  color: #005999;
}

::ng-deep .mat-option {
  padding: 0 !important;

}

::ng-deep .mat-option-text {

  text-align: right;
}
