#job-modify-dialog {

  @import 'src/app/shared/scss/helpers';

  .title {
    font-weight: 100;
    color: white;
    font-size: 18px;
    height: 50px;
    background-color: #3F51B5;
  }

  .title-container {
    width: 80%;
    position: absolute;
    top: 8px;
    font-weight: 400;

  }

  .content-data {
    padding: 20px 20px 0px 20px;
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  .btnHolder {
    padding: 0px 10px 10px 10px;
    text-align: right;

    .proceedBtn {
      float: left;
    }
  }

  hr {
    margin-top: 20px;
    border-color: lightgray !important;
    color: lightgray !important;
    background-color: lightgray !important;
    height: 1px;
    border: none;
  }

  .top-right {
    position: absolute;
    display: inline-block;
    right: 17px;
    top: 4px;

    button {
      box-shadow: none !important;
      background: transparent !important;
    }
  }

  .textarea {
    max-height: 90px;
  }

}
