<div id="job-seeker" class="page-layout">
    <div class="search-container">
        <input type="text" placeholder="Search for a job..." [(ngModel)]="searchTerm">
    </div>
    <div class="card-container">
        <div *ngFor="let job of jobs | jobFilter:searchTerm;; let i = index">
            <div class="card">
                <div class="job-description">{{job.jobDescription}}
                    <mat-icon matSuffix class="pointer" *ngIf="favorites[i]"
                        (click)="favourite(0, i, job)">favorite</mat-icon>
                    <mat-icon matSuffix class="pointer" *ngIf="!favorites[i]"
                        (click)="favourite(1, i, job)">favorite_border</mat-icon>
                </div>
                <div class="job-long-description">{{job.jobLongDescription}}</div>
            </div>
        </div>
    </div>
</div>