#job-seeker {
  @import 'src/app/shared/scss/helpers';

  overflow: hidden;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
    margin-top: 130px;
  }

  .card {
    flex-basis: calc(25% - 20px);
    max-width: 290px;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    overflow: hidden;
    border: 1px solid #F0EFF4;
    border-radius: 10px;
    background: #FBFBFB;
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
  }

  .card-content {
    word-wrap: break-word;
  }

  .search-container {
    padding: 20px 10px 10px 20px;
    position: fixed;
    width: 100%;
    background: white;
    left: 15px;
    top: 64px;
    z-index: 9;
  }

  .search-container input {
    width: 33%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .job-description {
    font-weight: 600;
    font-size: 13px;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    padding: 0 0 10px;

    .wrap {
      word-wrap: break-word;
      max-width: 240px;
    }
  }

  mat-icon {
    position: absolute;
    right: 0;
    top: 33%;
    transform: translateY(-50%);
  }

  .job-long-description {
    font-size: 12px;
    text-align: center;
  }

  /* Responsive breakpoints */
  @media only screen and (max-width: 992px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
  }

  @media only screen and (max-width: 600px) {
    .card {
      flex-basis: 100%;
    }
  }

}
