#toolbar {
  @import 'src/app/shared/scss/helpers';
  position: sticky;
  z-index: 9999999999;

  .title-info {
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16px;
  }

  .menu-spacer {
    width: 100%;
  }

  .anchor {
    color: white;
  }

  .anchor:hover {
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
  }

  .crumb-info {
    font-size: 14px;
  }

  .home-icon {
    color: white;
    padding-top: 9px;
  }

  .arrow-down-icon {
    color: white;
  }
}
