#toolbar {

  // height: 100%;
  .title-info {
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
  }

  .mat-toolbar {
    position: fixed;
    z-index: 1040;
  }

  .menu-spacer {
    width: 100%;
  }
}
