#toolbar {
  @import 'src/app/shared/scss/helpers';

  .title-info {
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16px;
  }

  .mat-toolbar {
    position: fixed;
    z-index: 1040;
  }

  .menu-spacer {
    width: 100%;
  }

  .anchor {
    color: white;
    text-decoration-color: white;
  }

  .crumb-info {
    font-size: 14px;
  }

  .home-icon {
    color: white;
    padding-top: 9px;
  }

  .arrow-down-icon {
    color: white;
  }
}
