#job-seeker-profile {
  @import 'src/app/shared/scss/helpers';

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;

  .profile-container {
    width: 100%;
    height: 100%;
    padding: 20;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .jobs {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
  }

  .jobs-description {
    color: lightgray;
    font-size: 13px;
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
  }

  .panel-description {
    font-size: 12px;
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
  }

  input {
    font-size: 13px;
  }

  .general-info {
    max-height: 90px;
  }

  .full-width {
    width: 100%;
  }

  ::ng-deep {
    .mat-content {
      flex-direction: column;
      font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
    }

    .mat-expansion-panel:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }

    .mat-expansion-panel-header:hover {
      background-color: inherit;
    }

  }

}
