#job-seeker-profile {
  @import 'src/app/shared/scss/helpers';

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .profile-container {
    max-width: 80%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #F0EFF4;
    border-radius: 10px;
    background: #FBFBFB;
  }
}
