/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif !important;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.custom-dialog-container .mat-mdc-dialog-container {
  padding: 0px;
  width: 450px;
}

.ok-btn {
  background-color: blue;
}

body::-webkit-scrollbar {
  width: 10px !important;
}

body::-webkit-scrollbar-track {
  background-color: #F5F5F5 !important;
  border-radius: 10px !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 10px !important;
  border: 2px solid transparent !important;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555 !important;
}

.container {
  height: 100%;
}
